.container{
    width: 300px;
    height: 600px;
    background-color: #000;
    /* display: flex;
    justify-content: space-between; */
    padding: 10px;
    text-align: center;
}

.wrap{
    /* width: 250px; */
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #333333;
    color: #fff;
    margin: 3px;
    font-size: 19px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    
}



.zero{
    width: 130px;
    border-radius: 53px;
}

.output{
    box-sizing: border-box;
    height: 180px;
    width: 100%;
    color: #fff;
    font-size: 45px;
    text-align: right;
    padding-top: 100px;
    padding-right: 18px;
}

.grey{
    background-color: #A6A6A6;
    color: #0C0C0C;
}

.yellow{
    background-color: #F19937;
    font-size: 25px;
}

.mod{
    font-size: 19px;
}

.active{
    background-color: rgb(158, 122, 24);
}


